/* Login */
.login {
  max-width: 1200px;
  padding: 12.5rem 0;
  margin: 0 auto;
}

.form-login-container {
  margin: 0 auto;
  width: 500px;
}

.form-login-container > h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  user-select: none;
}

.form-login-container .form .input-group {
  margin-bottom: 2rem;
}

.form-login-container .form .btn.form-button {
  margin-top: 0;
  width: 100%;
}

/* Products */
.all-products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

.all-products .link {
  color: var(--blue);
  font-weight: bold;
}

.products-row-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.products-row-header .products-category-title {
  font-size: 2rem;
  font-weight: bold;
}

.products-row-body {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 1.25rem;
  margin-bottom: -2.5rem;
}

.product {
  width: 15%;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 2.5rem;
}

.product .product-image {
  display: block;
  aspect-ratio: 1/1;
  width: 100%;
  background-color: brown;
}

.product .product-title {
  margin-top: 0.5rem;
  font-weight: 500;
}

.product .product-price {
  margin-top: 0.5rem;
  font-weight: bold;
}

.product .product-details {
  display: block;
  margin-top: 0.5rem;
}

.product .product-id {
  margin-top: 0.5rem;
}

.product .product-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.3125rem;
}

.product .product-buttons .product-btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(353deg)
    brightness(106%) contrast(101%);
}

.product .product-buttons .product-btn:hover {
  filter: invert(39%) sepia(77%) saturate(2039%) hue-rotate(199deg)
    brightness(92%) contrast(95%);
}

/* New Product */
.new-product {
  max-width: 1200px;
  padding: 12.5rem 0;
  margin: 0 auto;
}

.newproduct-form-container {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

.newproduct-form-container .form-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.newproduct-form-container .form .input-group {
  margin-bottom: 2rem;
}

/* Product Detail */
.product-detail {
  max-width: 1200px;
  padding: 2.5rem 0;
  margin: 0 auto;
}

.single-product {
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 2.5rem;
}

.single-product .product-image {
  aspect-ratio: 4/3;
  height: 400px;
}

.single-product .product-image img {
  background-color: brown;
  display: block;
  width: 100%;
  height: 100%;
}

.single-product .product-details .product-title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.single-product .product-details .product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.single-product .product-details .product-description {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.similar-products .products-row-product {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 1.25rem;
}

.similar-products .product .link {
  color: var(--blue);
  font-weight: bold;
}

.similar-products .product .product-details:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  /* Login */
  .login {
    max-width: 740px;
  }
  .form-login-container {
    width: 60%;
  }

  /* Products */
  .all-products {
    padding: 2rem 0;
    max-width: 740px;
  }
  .products-row-body {
    margin-bottom: -1.5rem;
  }
  .product {
    width: 23.5%;
    margin-bottom: 1.5rem;
  }

  /* New Product */
  .new-product {
    padding: 6rem 0;
    max-width: 740px;
  }

  /* Product Detail */
  .product-detail {
    max-width: 740px;
  }
  .similar-products .products-row-product .product:nth-child(-n + 2) {
    display: none;
  }
  .single-product .product-image {
    height: 250px;
  }
  .single-product .product-details .product-title {
    font-size: 1.8rem;
  }
  .single-product .product-details .product-price {
    margin-bottom: 0.5rem;
  }
  .single-product .product-details .product-description {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  /* Login */
  .login {
    max-width: 340px;
  }
  .form-login-container {
    width: 90%;
  }

  /* Products */
  .all-products {
    max-width: 340px;
  }
  .products-row-header {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  .products-row-body {
    gap: 4%;
  }

  .product {
    width: 48%;
    margin-bottom: 1.5rem;
  }

  /* New Product */
  .new-product {
    padding: 3rem 0;
    max-width: 340px;
  }

  /* Product Detail */
  .product-detail {
    max-width: 340px;
  }
  .single-product{
    flex-direction: column;
  }
  .single-product .product-details .product-description{
    line-height: 1.25rem;
  }
}
